* {
  box-sizing: border-box;
}

body {
  background-color: rgba(39,78,87,0.6);
  font-size: 16px;
}

.form {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  h2 {
    text-align: center;
  }
}

table {
  width: 80%;
  margin: 40px auto;
  tr {

    td {
      padding: 10px;
      input {
        padding: 5px;
      }
      .small {
        font-size: 14px;
      }
    }
  }
}

#submit {
  border: none;
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  display: block;
  width: 100%;
  color: #fff;
}
